# Skill Up #1 Python - List vs Tuple

## List

#### Create List

In [1]:
# Create List --> Mutable data type use []
list_mix = [7, 9, 2, 'Car', True]
list_mix

[7, 9, 2, 'Car', True]

In [2]:
# Integer List
list_int = [3, 2, 6, 4, 9]
list_int

[3, 2, 6, 4, 9]

In [8]:
# Empty List
list_empty = []
list_empty_others = list()
list_empty
list_empty_others

[]

#### How To Access List

In [10]:
# A List
vehicle = ['Car', 'Motorcycle', 'Bus', 'Plane', 'Boat', 'Train']

In [11]:
# Access List in Index 0
vehicle[0]

'Car'

In [13]:
# Access List in Index 5
vehicle[5]

'Train'

In [14]:
# Access List in Index -2 ---> Reverse
vehicle[-2]

'Boat'

In [15]:
# Count Index
len(vehicle)

6

#### Add elemen from List

In [16]:
# Append
vehicle.append('Bicycle')
vehicle

['Car', 'Motorcycle', 'Bus', 'Plane', 'Boat', 'Train', 'Bicycle']

In [17]:
# Insert ---> can add element with index
vehicle.insert(4, 'Truck')
vehicle

['Car', 'Motorcycle', 'Bus', 'Plane', 'Truck', 'Boat', 'Train', 'Bicycle']

In [18]:
# Use plus (+)
vehicle_cycle = ['Unicycle', 'Tricycle']
all_vehicle = vehicle + vehicle_cycle
all_vehicle

['Car',
 'Motorcycle',
 'Bus',
 'Plane',
 'Truck',
 'Boat',
 'Train',
 'Bicycle',
 'Unicycle',
 'Tricycle']

In [26]:
# Extend
vehicle.extend(['Jet', 'Helicopter'])
vehicle

['Car',
 'Motorcycle',
 'Bus',
 'Plane',
 'Truck',
 'Boat',
 'Train',
 'Bicycle',
 'Jet',
 'Helicopter']

#### Delete elemen from List