# Skill Up #1 Python - List vs Tuple

## List

#### Create List

In [1]:
# Create List --> Mutable data type use []
list_mix = [7, 9, 2, 'Car', True]
list_mix

[7, 9, 2, 'Car', True]

In [2]:
# Integer List
list_int = [3, 2, 6, 4, 9]
list_int

[3, 2, 6, 4, 9]

In [8]:
# Empty List
list_empty = []
list_empty_others = list()
list_empty
list_empty_others

[]

#### How To Access List

In [10]:
# A List
vehicle = ['Car', 'Motorcycle', 'Bus', 'Plane', 'Boat', 'Train']

In [11]:
# Access List in Index 0
vehicle[0]

'Car'

In [13]:
# Access List in Index 5
vehicle[5]

'Train'

In [14]:
# Access List in Index -2 ---> Reverse
vehicle[-2]

'Boat'

In [15]:
# Count Index
len(vehicle)

6

#### Add elemen from List

In [16]:
# Append ---> add element in the end of index
vehicle.append('Bicycle')
vehicle

['Car', 'Motorcycle', 'Bus', 'Plane', 'Boat', 'Train', 'Bicycle']

In [17]:
# Insert ---> can add element with index
vehicle.insert(4, 'Truck')
vehicle

['Car', 'Motorcycle', 'Bus', 'Plane', 'Truck', 'Boat', 'Train', 'Bicycle']

In [18]:
# Use plus (+)
vehicle_cycle = ['Unicycle', 'Tricycle']
all_vehicle = vehicle + vehicle_cycle
all_vehicle

['Car',
 'Motorcycle',
 'Bus',
 'Plane',
 'Truck',
 'Boat',
 'Train',
 'Bicycle',
 'Unicycle',
 'Tricycle']

In [26]:
# Extend ---> add element in the end of index
vehicle.extend(['Jet', 'Helicopter'])
vehicle

['Car',
 'Motorcycle',
 'Bus',
 'Plane',
 'Truck',
 'Boat',
 'Train',
 'Bicycle',
 'Jet',
 'Helicopter']

#### Delete elemen from List

In [27]:
# Remove ---> Delete with certain element 
vehicle.remove('Truck')
vehicle

['Car',
 'Motorcycle',
 'Bus',
 'Plane',
 'Boat',
 'Train',
 'Bicycle',
 'Jet',
 'Helicopter']

In [28]:
# Pop ---> Delete last index element
vehicle.pop()
vehicle

['Car', 'Motorcycle', 'Bus', 'Plane', 'Boat', 'Train', 'Bicycle', 'Jet']

#### Slicing

In [29]:
# Slicing index 0 until 4
vehicle[0:4]

['Car', 'Motorcycle', 'Bus', 'Plane']

In [30]:
# Slicing index 2 until 7
vehicle[2:7]

['Bus', 'Plane', 'Boat', 'Train', 'Bicycle']

In [31]:
# Slicing index 5 until last index
vehicle[5:]

['Train', 'Bicycle', 'Jet']

In [32]:
# Slicing index reverse until -6
vehicle[:-6]

['Car', 'Motorcycle']

In [33]:
# Slicing index reverse -6 until -2
vehicle[-6:-2]

['Bus', 'Plane', 'Boat', 'Train']

#### Matrix

In [34]:
# Create Matrix
matrix = [[4, 6, 8], [50, 30, 10]]
matrix

[[4, 6, 8], [50, 30, 10]]

In [36]:
# Slicing Matrix [1][1]
matrix[1][1]

30

In [39]:
# Slicing Matrix [0][2]
matrix[0][2]

8

In [40]:
# Len ---> count all Matrix
len(matrix)

2

In [42]:
# Len ---> count all Matrix in index 1
len(matrix[1])

3

#### Min, Max, Sum

In [51]:
# Create integer list
int_list = [450, 100, 250, 350, 200, 150, 400, 300, 500]
int_list

[450, 100, 250, 350, 200, 150, 400, 300, 500]

In [52]:
# Min ---> Get minimal value from list
min(int_list)

100

In [53]:
# Max ---> Get maximal value from list
max(int_list)

500

In [54]:
# Sum ---> Get sum value from list
sum(int_list)

2700

#### Sorted and Sort

In [57]:
# Default
int_list

[450, 100, 250, 350, 200, 150, 400, 300, 500]

In [55]:
# Sorted ---> must create variable
sorted_list = sorted(int_list)
sorted_list

[100, 150, 200, 250, 300, 350, 400, 450, 500]

In [59]:
# Sort ---> must not create variable
int_list.sort()
int_list

[100, 150, 200, 250, 300, 350, 400, 450, 500]

## Tuple

#### Create Tuple

In [60]:
# Create Tuple --> Immutable data type use ()
example_tuple = ('Car', 350)
example_tuple

('Car', 350)

In [62]:
# Try to change the value
example_tuple[0] = 'Bicycle'

TypeError: 'tuple' object does not support item assignment